
body{
  background-color: #a3d2ca;
  margin: 0;

}

.Container6{

  position: relative;
  text-align: center;
  top: 60px;

}


.Container1{
  position: relative;
  text-align: center;
}
.Container2{
  position: relative;
  text-align: center;

}
.Container3{
  position: relative;
  text-align: center;

}
.Container4{
  position: relative;
  text-align: center;
  top: 100px;

}
.Container5{
  position: relative;
  text-align:right;
  bottom: 10px;

}


.top-cloud{
  position: relative;
  left:35%;
  width: 15%;
  top: 3%;
}

.plane{
  position: relative;
  left:5%;


}

.middle-cloud{
  position: relative;
  width: 20%;
  right: 28%;
  top: 50px;
}




.bird1{
  position: relative;
  width: 5%;
  top: 250px;
  right: 20%;
}
.bird2{
  position: relative;
  width: 5%;
  top: 200px;
  right: 15%;
}
.bird3{
  position: relative;
  width: 5%;
  top: 280px;
  right: 23%;
}


.contact{
  position: relative;
  right: 4%;

}
.facebook{
  position: relative;
  width: 3%;
  right: 4%;
}
.instagram{
  position: relative;
  width: 3%;
  right: 3%;
}

.mail{
  position: relative;
  width: 3%;
  right: 2%;
}

.mountain{
  position: relative;
  width: 45%;

}

.hobbies{
  position: relative;
  width: 60px;
  right: 40px;
}

.books{
  position: relative;
  width: 60px;
  right: 20px;
}

.skills{
  position: relative;
  width: 60px;
  left: 6.5px;
}

.skillsContainer{
  position: relative;
  text-align: center;
}
.hobbiesContainer{
  position: relative;
  text-align: center;
}

.cv{
  position: relative;
  width: 60px;
  left: 18px;

}


.bookContainer{
  position: relative;
  text-align: center;
  top: 50%;
}

.textBookContainer{
  position: relative;
  text-align: center;

}
